#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pages {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
