#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pages {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

input,
select,
button,
textarea {
  &:focus {
    box-shadow: 2px 5px 8px rgba(87, 87, 87, 0.3);
  }
}

#cookie-banner {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 30px;
  max-width: 270px;
  padding: 10px;
  background-color: rgb(2, 27, 42);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  z-index: 11;
  opacity: 0.97;
  font-size: 12px;
}

#cookie-banner button {
  margin-top: 10px;
  background-color: rgb(255, 238, 0);
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}
