#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pages {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

input,
select,
button,
textarea {
  &:focus {
    box-shadow: 2px 5px 8px rgba(87, 87, 87, 0.3);
  }
}

.error-alert, .success-alert{
  padding: 30px;
  font-size: 18px;
  text-align: center;
}
