$color-main: rgb(0,36,58);
$color-dark: rgb(2,27,42);
$color-yellow: rgb(255, 238, 0);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

$color-silwer-med: #f1f1f1f6;
$color-silwer-black: rgb(196, 196, 196);
$color-silwer-lite: #f9f9f9;