.home-screen {
  min-height: 60vh;
  background: url("../../images/home_screen.jpg") 0 50% / cover no-repeat;

  .home-screen__content {
    padding: 30px;

    min-height: 60vh;
    display: flex;
    flex-direction: column;

    h1 {
      margin-top: auto;
    }

    span {
      background: linear-gradient(24deg, #ffffff, #ffe600);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-block;
    }

    span.hidden {
      display: none;
    }
  }
}

.about-content {
  padding: 30px;
  display: flex;
  gap: 5px;
  border-bottom: 1px solid $color-silwer-black;
  @include tablet {
    flex-direction: column;

    .about-content__form {
      margin-top: 0;
    }
  }
}

.about-content__text {
  flex: 0 1 58%;
  padding-right: 30px;
  margin: auto 0;

  p {
    @extend %textsubtitle;
    color: #6c6c6c;
    padding: 10px 0;
  }
}

.about-content__form {
  border-top: 5px solid $color-yellow;
  background-color: #f5f5f5;
  padding: 30px 20px 20px;
  border-radius: 15px;
  flex: 1 35%;
  margin-top: -135px;

  span {
    font-size: 24px;
    text-align: center;
    display: block;
    color: $color-dark;
    font-weight: 500;
    padding: 15px;
  }

  form {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 35px;
    border: 9px solid $color-silwer-med;
    border-radius: 15px;

    button {
      font-size: 14px;
      background-color: $color-yellow;
      padding: 10px 15px;
      border-radius: 10px;
    }
  }

  input,
  textarea {
    font-size: 16px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;

    &:focus {
      background-color: #f3f3f3;
    }
  }

  label {
    font-size: 14px;
    font-weight: 700;
  }

  label:last-child {
    font-weight: 500;
  }

  .form-box {
    display: flex;
    flex-direction: column;
  }

  .form-box:last-of-type {
    gap: 5px;
    flex-direction: row;

    label {
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.services {
  .services-content {
    padding: 50px 30px;
    text-align: center;

    span {
      color: $color-silwer-black;
    }

    h2 {
      font-weight: 800;
      padding: 20px 0;
    }
  }
}

.services-content__wrapper {
  display: grid;
  justify-content: space-between;
  gap: 20px;
  grid: 1fr/ 1fr 1fr 1fr;

  img {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }
}

.services-content__box {
  border: 1px solid #000;
  padding: 20px;
  height: 100%;
  //max-width: 320px;
}
