.home-screen {
  min-height: 60vh;
  background: url("../../images/home_screen.jpg") 0 50% / cover no-repeat;

  .home-screen__content {
    padding: 30px;

    min-height: 60vh;
    display: flex;
    flex-direction: column;

    h1 {
      margin-top: auto;
    }

    span {
      background: linear-gradient(24deg, #ffffff, #ffe600);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-block;
    }

    span.hidden {
      display: none;
    }
  }
}

.about-content {
  padding: 30px 30px 50px 30px;
  display: flex;
  gap: 5px;
  @include tablet {
    flex-direction: column;

    .about-content__form {
      margin-top: 0;
    }
  }
}

.about-content__text {
  flex: 0 1 58%;
  padding-right: 30px;
  margin: auto 0;

  p {
    @extend %textsubtitle;
    color: $color-silwer-text;
    padding: 10px 0;
  }
}

.about-content__form {
  border-top: 5px solid $color-yellow;
  background-color: #f5f5f5;
  padding: 30px 20px 20px;
  border-radius: 15px;
  flex: 1 35%;
  margin-top: -135px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  span {
    font-size: 24px;
    text-align: center;
    display: block;
    color: $color-dark;
    font-weight: 500;
    padding: 15px;
  }

  form {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 35px;
    border: 9px solid $color-silwer-med;
    border-radius: 15px;

    button {
      font-size: 14px;
      background-color: $color-yellow;
      padding: 10px 15px;
      border-radius: 10px;
    }
  }

  input,
  textarea {
    font-size: 16px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;

    &:focus {
      background-color: #f3f3f3;
    }
  }

  label {
    font-size: 14px;
    font-weight: 700;
  }

  label:last-child {
    font-weight: 500;
  }

  .form-box {
    display: flex;
    flex-direction: column;
  }

  .form-box:last-of-type {
    gap: 5px;
    flex-direction: row;

    label {
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.title-box {
  text-align: center;

  span {
    color: $color-silwer-text;
  }

  h2 {
    font-weight: 800;
    padding: 15px 0 30px 0;
  }

  h3 {
    color: $color-silwer-text;
  }

  div {
    width: 50px;
    height: 2px;
    background-color: $color-main;
    margin: 0 auto 10px auto;
  }
}

.services {
  background-color: $color-silwer-lite;
}

.services-content {
  padding: 50px 30px;
  text-align: center;

  &__wrapper {
    display: grid;
    justify-content: space-between;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

    @include tablet {
      grid: repeat(3, 1fr) / 1fr;
    }
  }

  &__box {
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .services-content__border {
      height: 6px;
      background-color: $color-yellow;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;

      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:hover {
      .services-content__border {
        transition: all 0.5s ease;
        transform: scaleX(0);
        transform-origin: bottom right;
      }
    }
  }

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
    width: 100%;
    min-height: 280px;
  }

  &__text {
    padding: 20px;
    background-color: $color-white;

    h4 {
      font-size: 24px;
      color: $color-dark;
      font-weight: 500;
      padding-bottom: 15px;
    }

    p {
      @extend %textbasic;
      color: $color-silwer-text;
    }
  }
}

.process-content {
  padding: 50px 30px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 55px 0 25px 0;
    @include tablet {
      grid: repeat(2, 1fr) / repeat(2, 1fr);
    }
  }

  &__box {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      222deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(187, 187, 187, 0.308584686774942) 0%,
      rgba(255, 255, 255, 1) 72%
    );
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;

    img {
      width: 60%;
    }

    h3 {
      padding-bottom: 10px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.reviews {
  background-color: $color-silwer-lite;
}

.reviews-content {
  padding: 50px 30px;
}

.columns {
  display: flex;
  gap: 10px;
}

.column {
  border: 1px solid $color-silwer-black;
  border-radius: 8px;
  padding: 25px;
  background-color: $color-white;
}

.reviewauthor {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .profile {
    display: flex;
    gap: 10px;
    font-size: 15px;

    .photo {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .author {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #202124;

      .authortitle {
        width: 130px;
      }
    }
  }

  .rating {
    display: flex;

    justify-content: flex-start;
    gap: 10px;
    color: #70757a;
    font-size: 14px;

    .stars {
      color: #ffc633;
      font-size: 15px;
    }
  }

  .tag {
    margin-left: 25px;

    .google-ico {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

.reviewtext {
  margin-top: 10px;
}
