.second-screen {
  min-height: 40vh;
  background: url("../../images/second-screen.jpg") 0 50% / cover no-repeat;

  &__content {
    padding: 30px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: auto;
      font-weight: 700;
      color: $color-white;
      @include adaptive-font(80, 50);
    }
  }
}

.moving-planner {
  .contact-button__button {
    margin: 0 auto;
  }

  .process {
    background-color: $color-silwer-lite;
  }
}

.delivery {
  &__content {
    padding: 50px 30px;
  }

  .delivery__content_box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 25px 0;

    div:first-child {
      align-self: flex-start;
      background-color: $color-yellow;
      padding: 25px;
      border-radius: 80px;
      margin: auto 0;

      img {
        max-width: 90px;
      }
    }

    div:nth-child(2) {
      margin: auto 0;
    }

    div:last-child {
      max-width: 300px;

      img {
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
    }

    h3,
    h4 {
      color: $color-dark;
    }
  }

  .delivery__content_box:nth-child(even) {
    div:first-child {
      order: 3;
    }

    div:nth-child(2) {
      order: 2;
    }

    div:last-child {
      order: 1;
    }
  }
  @include tablet {
    .delivery__content_box {
      flex-direction: column;
      padding: 25px 0 50px 0;
    }

    .delivery__content_box:nth-child(even) {
      div:first-child {
        order: 1;
      }

      div:nth-child(2) {
        order: 2;
      }

      div:last-child {
        order: 3;
      }
    }

    .delivery__content_box {
      div:first-child {
        margin: auto auto;
      }

      div:nth-child(2) {
        text-align: center;
      }

      div:last-child {
        max-width: 500px;
        margin: auto auto;
      }
    }
  }
}

.statistics {
  background-color: $color-silwer-lite;
}

.statictics-content {
  padding: 70px 30px;
  display: flex;
  justify-content: space-between;
  color: $color-dark;
  text-align: center;

  &__box {
    > div {
      display: flex;
      justify-content: center;
      font-weight: 600;
      @include adaptive-font(80, 50);
      text-align: center;
      margin: 0 auto;
    }

    p {
      @include adaptive-font(32, 22);
    }
  }
}

.about-content__form {
  border-top: 5px solid $color-yellow;
  background-color: #f5f5f5;
  padding: 30px 20px 20px;
  border-radius: 15px;
  flex: 1 35%;
  margin-top: -135px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  form {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 35px;
    border: 9px solid $color-silwer-med;
    border-radius: 15px;

    button {
      font-size: 14px;
      background-color: $color-yellow;
      padding: 10px 15px;
      border-radius: 10px;
    }
  }

  input,
  textarea {
    font-size: 16px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;

    &:focus {
      background-color: #f3f3f3;
    }
  }

  label {
    font-size: 14px;
    font-weight: 700;
  }

  label:last-child {
    font-weight: 500;
    display: block;
  }

  .form-box {
    display: flex;
    flex-direction: column;
  }

  .form-box:last-of-type {
    gap: 5px;
    flex-direction: row;

    label {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
