.contact-button {
  background-color: $color-white;

  &__wrapper {
    padding: 90px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    @include tablet {
      flex-direction: column;
    }
  }

  p {
    @extend %textsubtitle;
    margin-top: 10px;
  }

  div {
    flex: 0 0 55%;
  }

  &__button {
    color: $color-main;
    padding: 15px 35px;
    background-color: $color-yellow;
    border-radius: 10px;
    @include adaptive-font(24, 15);
    align-self: flex-start;
    flex: 0 0 35%;
    text-align: center;
    margin: auto 0;
  }
}

.foo {
  background-color: $color-main;
}

.foo-wrapper__content {
  padding: 50px 30px;
  display: grid;
  gap: 25px;
  grid: 1fr / repeat(4, 1fr);
  color: $color-white;
  @extend %textbasic;
  font-weight: 300;

  .foo-wrapper__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      position: relative;
      margin-bottom: 10px;
    }

    h3::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 45px;
      height: 2px;
      background-color: $color-white;
    }

    a {
      color: $color-white;
    }
  }

  @include tablet {
    grid: 1fr 1fr/ 1fr 1fr;
  }

  @include mobile {
    grid: repeat(4, 1fr) / 1fr;

    p {
      max-width: 150px;
    }
  }
}

.foo-lower {
  background-color: $color-dark;

  ul {
    padding: 5px 30px;
    display: flex;
    gap: 15px;

    a {
      color: $color-white;
      @extend %textsmall;
    }
  }
}
